---
layout: default
---
<style>
         .border {
                  border: 1px solid #f1f1f1;
         }
</style>
<script>
$(function () {  
  $('.md-close').on('click', function() {
    $('.md-modal').removeClass('md-show');
  });
});
</script>
<section class="parallax-bg bg-fixed overlay fullscreen-banner valign-wrapper"
         style="background-image: url({{ page.banner }})"
         data-stellar-background-ratio="0.5">
         
<div class="md-modal md-effect-12 md-show">
    <div class="md-content">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/4J8mViMo8lE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
         
  <div class="valign-cell">
    <div class="container padding-top-160">
      <div class="text-center">
        <h1 class="tt-headline loading-bar">
          <!-- you can use "rotate-1", "letters type", "letters rotate-2", "letters rotate-3", "letters scale", "loading-bar", "slide", "clip is-full-width", "push" -->
          <p>유엔진 오픈소스</p>
          <span class="tt-words-wrapper">
                            <b class="is-visible">BPM</b>
                            <b>Cloud Platform</b>
                            <b>Enterprise SNS</b>
                            <b>SaaS Billing</b>
                            <b>UI/UX Platform</b>
                        </span>
                 
        </h1>
         <p class="sub-intro lead white-text">the Universal Engines for Digital Economy Era</p>
               
        <a class="btn popup-video text-capitalize mt-30 waves-effect waves-light"
           href="https://www.youtube.com/watch?v=ioOdnl_aIKE">사용자 인터뷰</a>
      </div>
    </div><!-- /.container -->
  </div><!-- /.valign-cell -->

</section>

<section class="section-padding">
  <div class="container">

    <div class="text-center mb-80">
      <h2 class="section-title text-uppercase">제품 서비스 영역</h2>
      <p class="section-sub">유엔진솔루션즈는 2003년 이래 업무 프로세스 관리 (Business Process Management), 기업용 SNS, PaaS 를 포함한 클라우드
        플랫폼, 도메인 기반 개발 방법을 지향하는 개발 프레임워크 등을 개발하고 오픈소스 프로젝트로 제공하는 기술 집약적 기업입니다.</p>
    </div>

   
      <div class="col-md-6 col-sm-6">
         <a href="/products/bpm">
        <div class="featured-box border text-center hover brand-hover">
          <div class="featured-wrapper">
            <div class="intro-header">
              <i class="material-icons brand-icon">&#xE242;</i>
              <h2>업무 프로세스 관리</h2>
            </div>

            <div class="content" style="display:table-cell;vertical-align:middle;">
              <p style="margin-bottom: 3px"> uEngine BPMS 는 OMG 국제표준인 BPMN 2.0 을 지원하여 
                     기업의 프로세스를 관리하고 지속적인 개선을 수행할 수 있도록 하는 프로세스 혁신 기능과 소셜 네트워크 기반의 포털을 통하여 창의적인 프로세스 협업을 가능하게하는 
                     두가지 통제와 혁신의 관점의 UI/UX 를 통합하는 UI를 제공합니다. </p>
            </div>
          </div><!-- /.featured-wrapper -->
        </div><!-- /.featured-box  -->
         </a> <!-- link -->
      </div><!-- /.col-md-3 -->
           
           
      <div class="col-md-6 col-sm-6">
               <a href="/products/pass">
        <div class="featured-box border text-center hover brand-hover">
          <div class="featured-wrapper">
            <div class="intro-header">
              <i class="material-icons brand-icon">&#xE2BE;</i>
              <h2>클라우드 개발 관리 플랫폼</h2>
            </div>

            <div class="content" style="display:table-cell;vertical-align:middle;">
              <p style="margin-bottom: 3px">
                       마이크로 서비스 아키텍처의 주 구성요소인 유엔진 IAM, API GW 와 수익화를 위한 SaaS Billing, Metaworks4 멀티테넌트 프레임워크, 가루다 워크로드 분산 엔진을 통하여 
                     많은 시행 착오를 줄이고 빠른 클라우드로의 전환을 이루세요.</p>
            </div>
          </div><!-- /.featured-wrapper -->
        </div><!-- /.featured-box  -->
               </a> <!-- link -->
      </div><!-- /.col-md-3 -->

     

      <div class="col-md-6 col-sm-6">
               <a href="/products/pass">
        <div class="featured-box border text-center hover brand-hover">
          <div class="featured-wrapper">
            <div class="intro-header">
              <i class="material-icons brand-icon">&#xE0B9;</i>
              <h2>PaaS 그리고 DevOps 환경</h2>
            </div>

            <div class="content" style="display:table-cell;vertical-align:middle;">
              <p style="margin-bottom: 3px">
                     유엔진의 PaaS환경인 [가루다]는 도커엔진과 유엔진의 클라우드 플랫폼, 그리고 유엔진 BPMS 를 통하여 자동화된 운영 프로세스를 지원합니다. 
                       MSA 플랫폼, DDD 분석 기법, 그리고 BPM을 기반한 수준 높은 운영자동화 환경을 구축하십시오.
                     </p>
            </div>
          </div><!-- /.featured-wrapper -->
        </div><!-- /.featured-box  -->
               </a> <!-- link -->
      </div><!-- /.col-md-3 -->

      <div class="col-md-6 col-sm-6">
               <a href="/products/sns">
        <div class="featured-box border text-center hover brand-hover">
          <div class="featured-wrapper">
            <div class="intro-header">
              <i class="material-icons brand-icon">&#xE7EF;</i>
              <h2>기업용 소셜 네트워크</h2>
            </div>

            <div class="content" style="display:table-cell;vertical-align:middle;">
              <p style="margin-bottom: 3px">
                       유엔진의 [프로세스 코디]는 대기업 그룹사와 다양한 기관에서 검증된 기업용 소셜 네트워크 솔루션으로 업무적 맥락을 이해하면서 수평적 협업을 
                       최대한으로 이끌어내도록 UX가 설계되었습니다. 
                     </p>
            </div>
          </div><!-- /.featured-wrapper -->
        </div><!-- /.featured-box  -->
               </a> <!-- link -->
      </div><!-- /.col-md-3 -->

      <div class="col-md-6 col-sm-6">
               <a href="/products/essencia">
        <div class="featured-box border text-center hover brand-hover">
          <div class="featured-wrapper">
            <div class="intro-header">
              <i class="material-icons brand-icon">&#xE0B9;</i>
              <h2>OMG Standard-based ALM</h2>
            </div>

            <div class="content" style="display:table-cell; vertical-align:middle;">
              <p style="margin-bottom: 3px">
                       유엔진은 KAIST 와 함께 OMG Essence를 적용하여 소프트웨어 진척도를 관리하고 다양한 방법론을 BPMN 프로세스로 각 프로젝트 담당자에게 
                       직무와 완료 조건 (체크포인트) 보내어 어려운 소프트웨어 프로세스를 관리할 수 있도록 해주는 세계최초의 도구인 Essencia 를 제공하고 있습니다. 
           
                     
                     </p>
            </div>
          </div><!-- /.featured-wrapper -->
        </div><!-- /.featured-box  -->
               </a> <!-- link -->
      </div><!-- /.col-md-3 -->

      <div class="col-md-6 col-sm-6">
               <a href="/products/mw4">
        <div class="featured-box border text-center hover brand-hover">
          <div class="featured-wrapper">
            <div class="intro-header">
              <i class="material-icons brand-icon">&#xE051;</i>
              <h2>웹 컴포넌트 UI/UX 플랫폼</h2>
            </div>

            <div class="content" style="display:table-cell;vertical-align:middle;">
              <p style="margin-bottom: 3px">[Metaworks4] 프레임워크는 이러한 Web Component 표준을 지원하여 웹 개발을 태그의 이해만으로도 자바스크립트 등과 간섭없는 확장과 개발이 가능하게 합니다.
                 또한 MSA 의 사상에 근거한 단일페이지애플리케이션, 클라이언트 주도된 데이터 통합이 가능하며, Spring Hateoas 프레임워크와 연동되어 빠르게 기존 서비스들을 수준높은 REST 서비스 (Level3) 로 Expose 할 수 있습니다. </p>
            </div>
          </div><!-- /.featured-wrapper -->
        </div><!-- /.featured-box  -->
               </a> <!-- link -->
      </div><!-- /.col-md-3 -->  
        <div style="text-align: center;">
                 <a href="#." class="btn btn-lg waves-effect waves-light" style="margin-top: 14px;">Contact Us (help@uengine.org)</a>
         </div>
    </div><!-- /.row -->
  </div><!-- /.container -->

</section>

<section class="section-padding" style="padding: 110px 0 0">
  <div class="container">

    <div class="text-center mb-80">
      <h2 class="section-title">Our Clients</h2>
      <p class="section-sub">기업들이 유엔진과 함께하고 있습니다.</p>
    </div>
  </div><!-- /.container -->
  <img src="assets/img/uengine/cases.png" width="100%" alt="" class="img-responsive">
</section>
<style>
         .md-modal {
  margin: auto;
	position: fixed;
	top: 100px;
	left: 0;
  right: 0;
	width: 50%;
	max-width: 630px;
	min-width: 320px;
	height: auto;
	z-index: 2000;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

.md-show {
	visibility: visible;
}

.md-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0.5;
	background: rgba(#e4f0e3, 0.8);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show ~ .md-overlay {
	opacity: 0;
	visibility: visible;
}

.md-effect-12 .md-content {
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show.md-effect-12 ~ .md-overlay {
	background-color: #e4f0e3;
} 

.md-effect-12 .md-content h3,
.md-effect-12 .md-content {
	background: transparent;
}

.md-show.md-effect-12 .md-content {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}
</style>
