---
layout: default
---

<section class="parallax-bg bg-fixed overlay fullscreen-banner valign-wrapper"
         style="background-image: url({{ page.banner }})"
         data-stellar-background-ratio="0.5">
  <div class="valign-cell">
    <div class="container padding-top-160">
      <div class="text-center">
        <h1 class="tt-headline loading-bar">
          <!-- you can use "rotate-1", "letters type", "letters rotate-2", "letters rotate-3", "letters scale", "loading-bar", "slide", "clip is-full-width", "push" -->
          <p>유엔진 오픈소스</p>
          <span class="tt-words-wrapper">
                            <b class="is-visible">Business Process Management</b>
                            <b>Cloud Management Platform</b>
                            <b>Enterprise Social Network</b>
                            <b>OMG Standard-based ALM</b>
                            <b>SaaS Billing</b>
                            <b>UI/UX Platform</b>
                        </span>
                 
        </h1>
         <p class="sub-intro lead white-text">the Universal Engines for Digital Economy Era</p>
               
        <a class="btn popup-video text-capitalize mt-30 waves-effect waves-light"
           href="https://www.youtube.com/watch?v=ioOdnl_aIKE">사용자 인터뷰</a>
      </div>
    </div><!-- /.container -->
  </div><!-- /.valign-cell -->

</section>

<section class="section-padding">
  <div class="container">

    <div class="text-center mb-80">
      <h2 class="section-title text-uppercase">제품 서비스 영역</h2>
      <p class="section-sub">유엔진솔루션즈는 2003년 이래 업무 프로세스 관리 (Business Process Management), 기업용 SNS, PaaS 를 포함한 클라우드
        플랫폼, 도메인 기반 개발 방법을 지향하는 개발 프레임워크 등을 개발하고 오픈소스 프로젝트로 제공하는 기술 집약적 기업입니다.</p>
    </div>

    <div class="row no-gutter">
      <div class="col-md-3 col-sm-6">
        <div class="featured-box border-right text-center hover brand-hover">
          <div class="featured-wrapper">
            <div class="intro-header">
              <i class="material-icons brand-icon">&#xE53B;</i>
              <h2>모델 기반 개발</h2>
            </div>

            <div class="content">
              <p>정보 시스템의 성패는 고객의 비즈니스 가치를 잘 아는 도메인 전문가의 참여가 얼마나 깊이있게 이루어지느냐에 달려있습니다. 전통적인 Model Driven Development 방식은 영역 전문가로 하여금 도메인 클래스의 설계와 프로토파입의 개발에 적극적으로 참여할 수 있슨 방식을 제시하였습니다. 
                       최근에는 BDD, DDD, POJO 등 다양한 MDD 를 계승한 실질적 프랙티스와 프레임워크들을 통하여 이를 실현할 수 있게 되었습니다. 
                       <a href="/products/bpm">uEngine BPMS</a> 와 함께 <a href="/products/mw4">uEngine Metaworks4</a> 프레임워크는 도메인 모델에 어노테이션을 추가하는 것 만으로 기업 정보 시스템을 매우 높은 생산성으로 개발할 수 있습니다. 향후 비교할 수 없는 유지보수 편의성과 유연성을 보장하는 DDD (도메인 주도 설계)와 MDD (모델 중심 개발) 방식을 경험하세요.</p>
            </div>
          </div><!-- /.featured-wrapper -->
        </div><!-- /.featured-box  -->
      </div><!-- /.col-md-3 -->

      <div class="col-md-3 col-sm-6">
        <div class="featured-box border-right text-center hover brand-hover">
          <div class="featured-wrapper">
            <div class="intro-header">
              <i class="material-icons brand-icon">&#xE051;</i>
              <h2>클라우드 개발 관리 플랫폼</h2>
            </div>

            <div class="content">
              <p>디지털 비즈니스 영역으로의 진출과 비용 효율을 위한 클라우드의 선택은 경쟁의 필수가 되었습니다. 
                SaaS, PaaS, IaaS 를 개발하고 적용하는데 있어 필요한 클라우드 애플리케이션의 개발에서 부터, 운영, 수익화에 이르는 다양한 이슈들을 직접 경험하는데는 많은 시간과 비용이 필요합니다.
                       마이크로 서비스 아키텍처의 주 구성요소인 유엔진 IAM, API GW 와 수익화를 위한 SaaS Billing, Metaworks4 멀티테넌트 프레임워크, 가루다 워크로드 분산 엔진을 통하여 
                     많은 시행 착오를 줄이고 빠른 클라우드로의 전환을 이루세요.</p>
            </div>
          </div><!-- /.featured-wrapper -->
        </div><!-- /.featured-box  -->
      </div><!-- /.col-md-3 -->

      <div class="col-md-3 col-sm-6">
        <div class="featured-box border-right text-center hover brand-hover">
          <div class="featured-wrapper">
            <div class="intro-header">
              <i class="material-icons brand-icon">&#xE323;</i>
              <h2>업무 프로세스 관리</h2>
            </div>

            <div class="content">
              <p>급변하는 비즈니스 프로세스를 고착화된 코드에서 분리하십시오. 대기업에게는 기존 업무 베테랑들의 프로세스를 자산화하여 지속가능한 비즈니스의 기반을 구축하고,
                     중소기업에게는 우리기업만의 프로세스 혁신과 통제를 통한 생산성과 표준화된 품질을 확보하십시오. uEngine BPMS 는 OMG 국제표준인 BPMN 2.0 을 지원하여 
                     기업의 프로세스를 관리하고 지속적인 개선을 수행할 수 있도록 하는 프로세스 혁신 기능과 소셜 네트워크 기반의 포털을 통하여 창의적인 프로세스 협업을 가능하게하는 
                     두가지 통제와 혁신의 관점의 UI/UX 를 통합하는 UI를 제공합니다. 기업은행, LG 디스플레이, SK 텔레콤 등 굴지의 금융과 통신 기업에서 검증된 uEngine BPMS를 통한 혁신 사례를 만드시기 바랍니다. </p>
            </div>
          </div><!-- /.featured-wrapper -->
        </div><!-- /.featured-box  -->
      </div><!-- /.col-md-3 -->

      <div class="col-md-3 col-sm-6">
        <div class="featured-box text-center hover brand-hover">
          <div class="featured-wrapper">
            <div class="intro-header">
              <i class="material-icons brand-icon">&#xE0B9;</i>
              <h2>PaaS 그리고 DevOps 환경</h2>
            </div>

            <div class="content">
              <p>아마존은 하루에만 25000회 이상의 재배포를 수행하면서도 다운타임이 '제로' 입니다. 운영자동화는 더이상 먼 꿈이 아닙니다. 
                       이미 가상화 기술에 의하여 여러분의 서비스 환경은 자동적으로 다루어질 수 있고 다양한 공개된 도구들을 통하여 자동빌드, 무정지 재배포, 자동화된 테스트, 롤백 등을 수행할 수 있음이 넷플릭스 등의 사례에서 검증되었습니다.  
                     유엔진의 PaaS환경인 [가루다]는 도커엔진과 유엔진의 클라우드 플랫폼, 그리고 유엔진 BPMS 를 통하여 자동화된 운영 프로세스를 지원합니다. 
                       MSA 플랫폼, DDD 분석 기법, 그리고 BPM을 기반한 수준 높은 운영자동화 환경을 구축하십시오.
                     </p>
            </div>
          </div><!-- /.featured-wrapper -->
        </div><!-- /.featured-box  -->
      </div><!-- /.col-md-3 -->

      <div class="col-md-3 col-sm-6">
        <div class="featured-box text-center hover brand-hover">
          <div class="featured-wrapper">
            <div class="intro-header">
              <i class="material-icons brand-icon">&#xE0B9;</i>
              <h2>기업용 소셜 네트워크</h2>
            </div>

            <div class="content">
              <p>기업의 프로세스는 더이상 내부 통제와 KPI 를 통해서만 끌어올리는데는 한계에 도달하였습니다. 자발적인 지식공유, 협업, 상호존중의 문화, 보다 수평적인 
                     커뮤니케이션에 의한 집단지성을 이끌어내기 위하여 선진 기업들은 Enterprise 2.0에  주목하였습니다.
                     더이상 기존의 탑-다운식 정보흐름의 그룹웨어나 포탈은 세련된 여러분의 임직원들의 가능성을 최대한 발휘하게 하지 못합니다. 
                       유엔진의 [프로세스 코디]는 대기업 그룹사와 다양한 기관에서 검증된 기업용 소셜 네트워크 솔루션으로 업무적 맥락을 이해하면서 수평적 협업을 
                       최대한으로 이끌어내도록 UX가 설계되었습니다. 또한 [uEngine BPM] 과 연계되어 통제와 혁신의 밸런스를 유지할 수 있도록 합니다.
                     </p>
            </div>
          </div><!-- /.featured-wrapper -->
        </div><!-- /.featured-box  -->
      </div><!-- /.col-md-3 -->

      <div class="col-md-3 col-sm-6">
        <div class="featured-box text-center hover brand-hover">
          <div class="featured-wrapper">
            <div class="intro-header">
              <i class="material-icons brand-icon">&#xE0B9;</i>
              <h2>OMG Standard-based ALM</h2>
            </div>

            <div class="content">
              <p>소프트웨어 개발 프로세스의 관리는 더이상 소프트웨어 전문 기업만의 일이 아닙니다. 기존의 산업 영역들에서도 소프트웨어를 개발하고 관리해야 하는 
                     소프트웨어 혁신이 이루어지고 있습니다. OMG 에서는 지난 20년간 소프트웨어 프로젝트의 성공과 실패에 영향을 준 지표들과 이르러야 하는 단계들,
                       그리고 그 단계(State)에 대한 상세한 체크포인트들을 도출하여 표준적인 KPI 를 도출하였습니다. 그것이 바로 [OMG Essence 표준]입니다.
                       유엔진은 KAIST 와 함께 OMG Essence를 적용하여 소프트웨어 진척도를 관리하고 다양한 방법론을 BPMN 프로세스로 각 프로젝트 담당자에게 
                       직무와 완료 조건 (체크포인트) 보내어 어려운 소프트웨어 프로세스를 관리할 수 있도록 해주는 세계최초의 도구인 Essencia 를 제공하고 있습니다. 
           
                     
                     </p>
            </div>
          </div><!-- /.featured-wrapper -->
        </div><!-- /.featured-box  -->
      </div><!-- /.col-md-3 -->

      <div class="col-md-3 col-sm-6">
        <div class="featured-box text-center hover brand-hover">
          <div class="featured-wrapper">
            <div class="intro-header">
              <i class="material-icons brand-icon">&#xE0B9;</i>
              <h2>웹 컴포넌트 UI/UX 플랫폼</h2>
            </div>

            <div class="content">
              <p>W3C 는 웹이 더이상 컴포넌트 개념이 없이는 발전할 수 없음을 깨닫고 다양한 표준화 활동을 하게 됩니다. 간단히는 CSS부터하여 웹 모듈의 공통적 속성을 관리하는 
                   방법들을 제안하였습니다. 최근에는 웹자체가 HTML Tag 를 직접 선언하고 그속에 Javascript 행위 및 자료구조 그리고 템플릿을 정의하여 관리하는 
                     표준인 W3C Web Components 라는 표준이 기안되었습니다. 이를 지원하는 Polymer, VueJS 같은 구현체들이 이를 지원하고 있습니다. 
                       [Metaworks4] 프레임워크는 이러한 Web Component 표준을 지원하여 웹 개발을 태그의 이해만으로도 자바스크립트 등과 간섭없는 확장과 개발이 가능하게 합니다.
                     또한 MSA 의 사상에 근거한 단일페이지애플리케이션, 클라이언트 주도된 데이터 통합이 가능하며, Spring Hateoas 프레임워크와 연동되어 빠르게 기존 서비스들을 수준높은 REST 서비스 (Level3) 로 Expose 할 수 있습니다. </p>
            </div>
          </div><!-- /.featured-wrapper -->
        </div><!-- /.featured-box  -->
      </div><!-- /.col-md-3 -->
         <br />
        <a href="#." class="btn btn-lg text-capitalize waves-effect waves-light">Contact Us (02-567-8301)</a>

    </div><!-- /.row -->
  </div><!-- /.container -->

</section>

<section class="section-padding" style="padding: 110px 0 0">
  <div class="container">

    <div class="text-center mb-80">
      <h2 class="section-title">Our Clients</h2>
      <p class="section-sub">기업들이 유엔진과 함께하고 있습니다.</p>
    </div>
  </div><!-- /.container -->
  <img src="assets/img/uengine/cases.png" width="100%" alt="" class="img-responsive">
</section>
