---
layout: default
---

<section class="parallax-bg bg-fixed overlay fullscreen-banner valign-wrapper"
         style="background-image: url({{ page.banner }})"
         data-stellar-background-ratio="0.5">
  <div class="valign-cell">
    <div class="container padding-top-160">
      <div class="text-center">
        <h1 class="tt-headline loading-bar">
          <!-- you can use "rotate-1", "letters type", "letters rotate-2", "letters rotate-3", "letters scale", "loading-bar", "slide", "clip is-full-width", "push" -->
          <p>유엔진 오픈소스</p>
          <span class="tt-words-wrapper">
                            <b class="is-visible">Business Process Management</b>
                            <b>Cloud Management Platform</b>
                            <b>Enterprise Social Network</b>
                            <b>OMG Standard-based ALM</b>
                            <b>SaaS Billing</b>
                            <b>UI/UX Platform</b>
                        </span>
                 
        </h1>
         <p class="sub-intro lead white-text">the Universal Engines for Digital Economy Era</p>
               
        <a class="btn popup-video text-capitalize mt-30 waves-effect waves-light"
           href="https://www.youtube.com/watch?v=ioOdnl_aIKE">User Interview</a>
      </div>
    </div><!-- /.container -->
  </div><!-- /.valign-cell -->

</section>

<section class="section-padding">
  <div class="container">

    <div class="text-center mb-80">
      <h2 class="section-title text-uppercase">제품 서비스 영역</h2>
      <p class="section-sub">유엔진솔루션즈는 2003년 이래 업무 프로세스 관리 (Business Process Management), 기업용 SNS, PaaS 를 포함한 클라우드
        플랫폼, 도메인 기반 개발 방법을 지향하는 개발 프레임워크 등을 개발하고 오픈소스 프로젝트로 제공하는 기술 집약적 기업입니다.</p>
    </div>

    <div class="row no-gutter">
      <div class="col-md-3 col-sm-6">
        <div class="featured-box border-right text-center hover brand-hover">
          <div class="featured-wrapper">
            <div class="intro-header">
              <i class="material-icons brand-icon">&#xE53B;</i>
              <h2>Model Driven Development</h2>
            </div>

            <div class="content">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis repellat quo vitae
                tempora.</p>
            </div>
          </div><!-- /.featured-wrapper -->
        </div><!-- /.featured-box  -->
      </div><!-- /.col-md-3 -->

      <div class="col-md-3 col-sm-6">
        <div class="featured-box border-right text-center hover brand-hover">
          <div class="featured-wrapper">
            <div class="intro-header">
              <i class="material-icons brand-icon">&#xE051;</i>
              <h2>Cloud Management Platform</h2>
            </div>

            <div class="content">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis repellat quo vitae
                tempora.</p>
            </div>
          </div><!-- /.featured-wrapper -->
        </div><!-- /.featured-box  -->
      </div><!-- /.col-md-3 -->

      <div class="col-md-3 col-sm-6">
        <div class="featured-box border-right text-center hover brand-hover">
          <div class="featured-wrapper">
            <div class="intro-header">
              <i class="material-icons brand-icon">&#xE323;</i>
              <h2>Business Process Management</h2>
            </div>

            <div class="content">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis repellat quo vitae
                tempora.</p>
            </div>
          </div><!-- /.featured-wrapper -->
        </div><!-- /.featured-box  -->
      </div><!-- /.col-md-3 -->

      <div class="col-md-3 col-sm-6">
        <div class="featured-box text-center hover brand-hover">
          <div class="featured-wrapper">
            <div class="intro-header">
              <i class="material-icons brand-icon">&#xE0B9;</i>
              <h2>Platform As-A Service</h2>
            </div>

            <div class="content">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis repellat quo vitae
                tempora.</p>
            </div>
          </div><!-- /.featured-wrapper -->
        </div><!-- /.featured-box  -->
      </div><!-- /.col-md-3 -->

      <div class="col-md-3 col-sm-6">
        <div class="featured-box text-center hover brand-hover">
          <div class="featured-wrapper">
            <div class="intro-header">
              <i class="material-icons brand-icon">&#xE0B9;</i>
              <h2>Enterprise Social Network</h2>
            </div>

            <div class="content">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis repellat quo vitae
                tempora.</p>
            </div>
          </div><!-- /.featured-wrapper -->
        </div><!-- /.featured-box  -->
      </div><!-- /.col-md-3 -->

      <div class="col-md-3 col-sm-6">
        <div class="featured-box text-center hover brand-hover">
          <div class="featured-wrapper">
            <div class="intro-header">
              <i class="material-icons brand-icon">&#xE0B9;</i>
              <h2>OMG Standard-based ALM</h2>
            </div>

            <div class="content">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis repellat quo vitae
                tempora.</p>
            </div>
          </div><!-- /.featured-wrapper -->
        </div><!-- /.featured-box  -->
      </div><!-- /.col-md-3 -->

      <div class="col-md-3 col-sm-6">
        <div class="featured-box text-center hover brand-hover">
          <div class="featured-wrapper">
            <div class="intro-header">
              <i class="material-icons brand-icon">&#xE0B9;</i>
              <h2>Open Source Software Management</h2>
            </div>

            <div class="content">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis repellat quo vitae
                tempora.</p>
            </div>
          </div><!-- /.featured-wrapper -->
        </div><!-- /.featured-box  -->
      </div><!-- /.col-md-3 -->

      <div class="col-md-3 col-sm-6">
        <div class="featured-box text-center hover brand-hover">
          <div class="featured-wrapper">
            <div class="intro-header">
              <i class="material-icons brand-icon">&#xE0B9;</i>
              <h2>Web Component Standard</h2>
            </div>

            <div class="content">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis repellat quo vitae
                tempora.</p>
            </div>
          </div><!-- /.featured-wrapper -->
        </div><!-- /.featured-box  -->
      </div><!-- /.col-md-3 -->
         <br />
        <a href="#." class="btn btn-lg text-capitalize waves-effect waves-light">Contact Us (02-567-8301)</a>

    </div><!-- /.row -->
  </div><!-- /.container -->

</section>

<section class="section-padding" style="padding: 110px 0 0">
  <div class="container">

    <div class="text-center mb-80">
      <h2 class="section-title">Our Clients</h2>
      <p class="section-sub">기업들이 유엔진과 함께하고 있습니다.</p>
    </div>
  </div><!-- /.container -->
  <img src="assets/img/uengine/cases.png" width="100%" alt="" class="img-responsive">
</section>
